*, *::before, *::after {
	box-sizing: border-box;
	outline: none;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-image: url("../imager/technol/backgrounds/back.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: #ffffff;
	overflow-x: hidden;
}
a {
	color: skyblue;
	text-decoration: none;
}
ul,li {
	list-style: none;
}
.wrapper {
	
}
.container {
	width: 80vw;
	margin: 0 auto;
}

header {
	width: 100vw;
	background-color: #040C2C;
	border-bottom: 1px solid #343A54;
}
header .container {
	display: flex;
	height: inherit;
}

.logotip {
	width: 74.6px;
}
.logotip img {
	padding-top: 2px;
	width: inherit;
}
.menu_list {
	display: flex;
	justify-content: flex-end; 
	width: 100%;
}
.menu_list li a {
	display: block;
	text-align: center;
	font-size: 14px;
	color: #fff;
	padding: 11.5px 5px 4px 5px;
}
.menu_list li a:hover {
	background-color: #464E6E;
	transform: scale(1.2);
	transition: transform .3s;
}
.menu_list li a img {
	width: 20px;
}

footer {
	margin: 3% 0;
}

footer .container {
	display: flex;
	height: 100px;
	background-color: #040C2C;
	border: 1px solid #343A54;
}

/* News */
.news__block {}
.cell__new {
	display: block;
	background-color: #eee;
	color: #000;
	width: 100%;
	height: 134px;
	margin-bottom: 15px;
	padding: 5px;
}

.inform__block {
	display: grid;
	grid-template-columns: 1fr .12fr;
}

.text__new {
	padding-right: 5px;
}

.text__new h1 {}
.text__new p {
	height: 54px;
	text-indent: 1.5em;
    text-align: justify;
    overflow: hidden;
}

.imager__new {
	background-color: #000;
	width: auto;
	height: 100px;
}

.addit__info__block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 8px;
}
.author__new {
	text-align: left;
}
.data__new {
	text-align: right;
}


/* Media */
.media__box {
	display: grid;
	justify-content: center;
	grid-template-columns: 172px 172px 172px 172px;
}

.box__imager {
	border: 1px solid #343A54;
}
.box__imager img{
	background-color: #eee;
	width: inherit;
	height: inherit;
}
/* Wiki */
/* About As */
.block__content {}
.block__content .container {
	background-color: #040C2C;
	border: 1px solid #343A54;
	margin-top: 3%;
	min-height: 60vh;
}

.content__header {
	text-align: center;
}
.content__header h1 {
	font-size: 22px;
	padding: 5px;
}

.content__paragraph {
	text-align: center;
}
.content__paragraph p {
	padding: 5px 8%;
}

.paragraph__links {}
.paragraph__links a {
	display: none;
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.paragraph__links a img {
	width: inherit;
}

.content__users {
	text-align: center;
	padding-bottom: 15px;
}
.content__users h1 {
	font-size: 22px;
	padding: 5px;
}

.attach__block_users {
	display: grid;
	justify-content: center;
	grid-template-columns: 172px 172px 172px 172px;
	grid-template-rows: 230px 230px;
	grid-gap: 10px;
}


.block__user {
	position: relative;
	/*background-color: pink;*/
}

.block__user__hover {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 0;
	bottom: 0;
	background: pink;
	z-index: 9999;
}

.imager__us {}
.imager__us img {
	border-radius: 3px;
}
.username {
	padding: 5px 0;
}
.nikname {}
